<%if(locals.user){%>

<header>
  <title>CodeBooks</title>

  <h1>CodeBooks</h1>
  <% if(locals.user){%>
  <a href="/users/profile/<%=user.id%>"><h1><%=user.name%></h1></a>
  <a href="/users/sign-out"><input type="submit" value="Logout" /></a>
  <%}else {%>
  <a href="/users/sign-in"><input type="submit" value="Sign In" /></a>
  <a href="/users/sign-up"><input type="submit" value="Sign Up" /></a>
  <a href="/users/auth/google"> <i class="fab fa-google"></i> </a>
  <%}%>
</header>
<%}%>
