<h3>Sign In</h3>
<form action="/users/createAccount" method="POST">
  <div class="row">
    <div class="col-lg-12">
      <div class="sn-field">
        <i class="fa fa-user"></i>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Name *"
          required
        />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="sn-field">
        <i class="fas fa-envelope"></i>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email/Username *"
          required
        />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="sn-field">
        <i class="fas fa-birthday-cake"></i>
        <input
          type="date"
          name="dob"
          id="dob"
          placeholder="Date Of Birth "
          style="color: #666"
        />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="sn-field">
        <i class="fa fa-lock"></i>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password *"
          required
        />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="sn-field">
        <i class="fa fa-lock"></i>
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Confirm Password *"
          required
        />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="sn-but">
        <button type="submit">Get Started</button>
        <a href="/users/sign-in">Already Account?</a>
      </div>
    </div>
  </div>
</form>
<div class="social-sn">
  <h4>Sign Up Via Social Account</h4>
  <ul>
    <li>
      <a href="/users/auth/google" class="google">
        <i class="fab fa-google"></i>Sign Up via Google
      </a>
    </li>
    <li>
      <a href="/users/auth/google" class="fb">
        <i class="fab fa-facebook-f"></i>Sign Up via Facebook
      </a>
    </li>
  </ul>
</div>
