<div class="forget-pass">
  <h3>Find Your Account</h3>
  <p>Please enter your registred email</p>
  <input
    type="email"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="Enter email"
    required
  />
  <div>
    <a href="/users/sign-in">
      <button type="submit" class="btn btn-secondary">Cancle</button></a
    >
    <a href="/forget/otp">
      <button type="submit" class="btn btn-primary">Search</button></a
    >
  </div>
</div>
