<body class="sign-in-up">
  <div class="container sign-popup">
    <div class="row sign-pop">
      <div class="col-lg-6">
        <div class="site-info">
          <img src="/img/logo.jpg" alt="logo" style="margin-bottom: 50px; margin-top: 30px;" />
          <img src="/img/login.png" alt="login-logo" style="margin-bottom: 30px; margin-top: 50px; padding: 10px;" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login-sec">
          <ul class="sign-control">
            <li data-tab="tab-1" class="animated fadeIn current">
              <a href="#">Sign in</a>
            </li>
            <li data-tab="tab-2" class="fadeIn"><a href=""> Sign Up</a></li>
          </ul>
          <!-- <div class="sign_in_sec" id="tab-1"><%-include('_sign_in')%></div> -->
          <div class="sign_in_sec" id="tab-2"><%-include('_sign_up')%></div>
        </div>
      </div>
    </div>
  </div>
</body>
