<body>
  <h1><%=title%></h1>
  <form action="/users/create-session" method="POST">
    <input type="text" name="email" id="email" placeholder="Email" />
    <input type="text" name="password" id="password" placeholder="Password" />
    <input type="submit" value="Sign In" />
  </form>
</body>
