body {
  margin: 0;
}

/* home page before login*/
.front {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.front h1 {
  text-align: center;
  color: white;
  font-weight: 1000;
  font-size: 80px;
  padding-top: 5%;
}
.btn {
  margin-left: 46.5%;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 2%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.home {
  display: flex;
  justify-content: center;
}

.home-center {
  margin-left: 130px;
  margin-right: 130px;
}

/* sign in / sign up page */

.sign-in-up {
  background-color: #e75348;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-popup {
  max-width: 900px;
}
.sign-pop {
  background-color: white;
  padding: 30px 0 30px 0;
  height: fit-content;
  position: relative;
}

.sign-pop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 52.5%;
  height: 100%;
  border-left: 1px solid #eee5e5;
}

.site-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 25px;
}

.login-sec {
  float: left;
  width: 100%;
  padding: 30px 0;
  position: relative;
}

.login-sec::before {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 70px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: white;
}

.sign-control {
  float: left;
  width: 100%;
  text-align: right;
  margin-bottom: 50px;
}
.sign-control li {
  display: inline-block;
  background-color: rgb(192, 190, 190);
  padding: 5px 15px;
  margin-left: -7px;
  border-radius: 5%;
}
.sign-control li a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.sign-control .current {
  background-color: #e44d3a;
}
.sign_in_sec.current {
  display: block;
}
.sign_in_sec {
  float: left;
  width: 100%;
  padding-right: 75px;
  padding-left: 60px;
}
.sign_in_sec h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.sign_in_sec h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #e44d3a;
}

.sn-field {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.sign_in_sec form input,
.sign_in_sec form select {
  width: 100%;
  padding: 0 15px 0 40px;
  color: #b2b2b2;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  height: 40px;
}
.sn-field > i {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #666;
  font-size: 16px;
  transform: translateY(-50%);
}

.sn-but {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sn-but button {
  padding: 7px 20px 7px 20px;
  background-color: #e44d3a;
  border: none;
  color: white;
}
.sn-but a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.social-sn h4 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

.social-sn ul {
  list-style: none;
  float: left;
  width: 100%;
}

.social-sn ul li {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.social-sn ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  float: left;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
}

.google {
  background-color: rgb(248, 76, 76);
}

.fb {
  background-color: #3b5998;
}

.social-sn ul li a i {
  margin-right: 10px;
}

/* Header */

header {
  float: left;
  width: 100%;
  background-color: #e44d3a;
  height: 80px;
}

.navbar {
  margin-top: -10px;
}

.header-row {
  background-color: #e44d3a;
  text-align: center;
  margin-bottom: 20px;
  height: 80px;
}

.left-header {
  display: flex;
  padding-top: 23px;
  justify-content: center;
}

.left-header form {
  padding-top: 2px;
  display: flex;
}

.left-header form input {
  border-radius: 3px;
  background-color: whitesmoke;
  height: 35px;
  color: #4b4242;
  font-size: 12px;
  padding: 0 10px;
  border-right: none;
  width: 280px;
  border: none;
}

.left-header form button {
  height: 35px;
  border-radius: 3px;
  border-left: none;
  margin-left: -4px;
  margin-top: 0px;
  border: none;
  background-color: whitesmoke;
}
.left-header form button i {
  color: #4b4242;
}
input:focus {
  outline: none;
}

.left-header a img {
  width: 80%;
  height: 25%;
}
.center-header {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 23px;
}

.center-header li {
  margin-right: 18px;
  margin-left: 18px;
}

.center-header li a {
  text-decoration: none;
  color: whitesmoke;
}
.center-header li a span {
  display: block;
  font-size: 21px;
}
.right-header {
  display: flex;
  justify-content: center;
  padding-top: 23px;
}

.right-header img {
  width: 6%;
  height: 27%;
  border-radius: 50%;
  margin-right: 20px;
}

.right-header i {
  font-size: 40px;
  color: whitesmoke;
  margin-right: 10px;
}

.right-header a {
  text-decoration: none;
}

.right-header a span {
  font-size: 20px;
  color: whitesmoke;
  margin-right: 20px;
}

.right-header a button {
  border: none;
  border-radius: 3px;
  margin-top: -5px;
  margin-left: -5px;
}

/* Feed */

.feed {
  margin-top: 140px;
}
.create-post {
  display: inline-flex;
  border: 3px solid #e75348;
  background-color: whitesmoke;
  border-bottom: none;
  align-items: center;
  padding: 10px 80px;
}

.create-post i {
  font-size: 38px;
  margin-top: 8px;
  margin-right: 20px;
}

.create-post img {
  width: 38;
  height: 38px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 20px;
}
.create-post strong {
  margin-top: 2.5px;
}

.create-post button {
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  background-color: white;
  border-top: none;
  padding-bottom: 0%;
  box-shadow: 0 0 30px rgb(214, 213, 213);
  padding: 20px;
  border-radius: 10px;
  border-top: none;
  min-width: 625px;
  max-width: 625px;
}

.card1 {
  background-color: whitesmoke;
  border-top: none;
  padding-bottom: 0%;
  border: 3px solid #e75348;
  border-top: none;
  min-width: 625px;
  max-width: 625px;
}

.card form {
  display: flex;
  flex-direction: column;
}

.card form textarea {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}

.card form textarea:focus {
  outline: none;
  margin-bottom: 10px;
}

.card1 form textarea {
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card1 form textarea:focus {
  outline: none;
  margin-bottom: 10px;
}

.new-post-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new-post-buttons input {
  margin-top: 10px;
}
.new-post-buttons button {
  margin-top: 17px;
  padding-top: 5px;
}

/*Post */

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}
.icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.delete-post {
  position: relative;
}

.delete-post-button {
  position: absolute;
  right: 55px;
  top: 20px;
}

.fa-heart,
.fa-comment {
  font-size: 25px;
  color: #f77c73;
  margin-right: 25px;
}

/* comment */

.make-comment i {
  font-size: 25px;
  margin-right: 10px;
}

.make-comment img {
  width: 60px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.make-comment input {
  border: none;
  width: 100%;
  padding: 12px 5px;
  border-radius: 20px;
  margin-right: 10px;
}
.make-comment button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: -2px;
}

.comment {
  border-bottom: none;
  border-top: 3px dashed #e75348;
}

.delete-comment {
  position: relative;
}

.delete-comment-button {
  position: absolute;
  right: 55px;
  top: 20px;
}

/* list of friends */

.friend {
  margin-top: 100px;
  background-color: whitesmoke;
  box-shadow: 0 0 30px #e44d3a;
  padding: 20px;
  border-radius: 10px;
  min-width: 400px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.friend h3 {
  margin-top: 8px;
  padding-bottom: 8px;
  color: #e44d3a;
  font-weight: 700;
  border-bottom: 1px solid #e44d3a;
  text-align: center;
}

.friend-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}
.friend-detail img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
}

.friend-detail i {
  font-size: 30px;
  color: #e44d3a;
  margin-left: 20px;
}

.friend-name a {
  text-decoration: none;
  font-size: 20px;
  color: #e44d3a;
}

/* suggestion */

.user {
  margin-top: 80px;
  background-color: whitesmoke;
  min-width: 400px;
  box-shadow: 0 0 30px #e44d3a;
  padding: 20px;
  border-radius: 10px;
}

.user h3 {
  margin-top: 8px;
  padding-bottom: 8px;
  color: #e44d3a;
  font-weight: 700;
  border-bottom: 1px solid #e44d3a;
  text-align: center;
}

.user-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-detail img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
}

.user-detail i {
  font-size: 30px;
  color: #e44d3a;
  margin-left: 20px;
}

.user-name a {
  text-decoration: none;
  font-size: 20px;
  color: #e44d3a;
}

/* mini-profile */
.mini-profile {
  min-width: 400px;
  margin-top: 140px;
  background-color: whitesmoke;
  box-shadow: 0 0 30px #e44d3a;
  border-radius: 10px;
}

.row1 {
  height: 100px;
  background-color: #e44d3a;
}
.row2 {
  border-bottom: 1px solid #e44d3a;
  text-align: center;
}
.row2 img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: -66px;
}

.row2 i {
  font-size: 120px;
  margin-top: -66px;
}
.row2 h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.row3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  border-bottom: 1px solid #e44d3a;
}

.row3 h5 {
  color: gray;
  font-size: 25px;
  font-weight: 500;
}

.row3 p {
  background-color: gray;
  padding: 20px 33px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
}

.row4 {
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.row4 a {
  text-decoration: none;
  color: #e44d3a;
  font-size: 20px;
}

/* Tools */
.tool {
  margin-top: 140px;
  min-width: 400px;
  box-shadow: 0 0 30px #e44d3a;
  padding: 20px;
  border-radius: 10px;
}

.tool h3 {
  margin-top: 8px;
  padding-bottom: 8px;
  color: #e44d3a;
  font-weight: 700;
  border-bottom: 1px solid #e44d3a;
  text-align: center;
}

.tool p {
  color: #e44d3a;
  font-size: 20px;
  font-weight: 550;
}

.tool-btn {
  margin-right: 30px;
}

.my-profile {
  margin-top: 250px;
  text-align: center;
  background-color: white;
  max-width: fit-content;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  box-shadow: 0 0 30px #e44d3a;
  border-radius: 10px;
}

.my-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-profile-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.my-profile-edit form input {
  margin-top: 10px;
}

.my-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.my-button {
  margin-left: -80%;
}
